div.about(class='FAQ active')
    h1.title='Данное приложение было разработано в рамках лаборатной работы'
    h1.title='по дисциплине "Информационный менеджмент"'
    h2.student='Студенткой 4 курса'
    div.student='Шилиной Анастасией Витальевной'
    a.student(href='http://www.fit.tsu.ru/ru')='Факультета инновационных технологий'
    div.student='Томского государственного университета'
    h2.educator='Под руководством'
    a.educator(href='http://www.fit.tsu.ru/ru/caf/ioid/minkov')='Минькова Сергея Леонидовича'
    div.educator='зав. кафедрой ИОИД, кандидат физ.-мат. наук'

